<h1>Galpões</h1>

<%= flash[:alert] %>
<% if @warehouses.empty? %>
  <h2 class="info">Nenhum galpão disponível</h2>
<% else %>
  <% @warehouses.each do |w| %>
    <%= link_to w["name"], warehouse_path(w["id"]) %>, <%= w["code"] %>
  <% end %>
<% end %>
