<h1>Galpões</h1>
<%= flash['alert'] %>

<% unless @warehouses.nil? %>
  <% if @warehouses.empty? %>
    <div class="info">Nenhum galpão disponível</div>
  <% end %>

  <% @warehouses.each do |w| %>
    <%= link_to w.name, warehouse_path(w.id)  %>
    <%= w.code %>
  <% end %>
<% end %>
